.page-header
  %h1
    = link_to "Julien Vanier", "/", :class => "logo"
  %ul.nav-primary
    %li.nav-item
      = nav_link "index.html", "Blog"
    %li.nav-item
      = nav_link "projects.html", "My projects"
    %li.nav-item
      = nav_link "/handwriting-sheet/", "Handwriting sheet"
    %li.nav-item
      = nav_link "about.html", "About me"

