%li
  %div
    %a.fancybox-thumb{:href => "images/#{project}.#{data.projects[project].image_ext}", :rel => "fancybox-thumb"}
      = image_tag "#{project}-thumb.#{data.projects[project].image_ext}"
    %article
      :markdown
        #{data.projects[project].description}
