= partial 'header'

.page-content-header.blog
.page-content
  %section.blog
    .profile-photo.logo
    %h1.profile-name Julien Vanier
    %h3.profile-title Entrepreneur &amp; Developer
    %p.profile-blurb
      Hello. I am Julien Vanier, computer engineer turned entrepreneur.
      I'm currently the CTO of
      = succeed "." do
        %a{:href => "http://munirent.co"} MuniRent
      See my work on GitHub, or connect on LinkedIn.
    .row.social
      = partial 'social-icons'

    = partial 'articles'

= partial 'footer'
